/*
 * About  ((styles))
 */
#about {
	height: 100vh;
}

#about__card {
  position: fixed;
  min-width: 320px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF;
  box-shadow: 0 2px 8px rgba(0,0,0,0.26);
}

#about__title {
	text-align: center;
}

#about__logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 32px;
}

#about__fields {
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 16px;
}

.field {
	display: block;
	width: 100%;
}

.field__title, .field__value {
	display: inline-block;
	margin: 0;
}

.field__title {
	text-align: right;
	width: calc(46% - 4px);
	padding-right: 4px;
}

.field__value {
	text-align: left;
	width: calc(54% - 4px);
	padding-left: 4px;
	text-transform: none;
}

#return_btn {
  position: absolute;
  width: 115px !important;
  top: 48px;
  right: 8px;
}
