/*
 * NameList  ((styles))
 */
.name-list {
  display: inline-block;
  margin: 8px 12px;
  width: calc(50% - 32px);
}

.name-list__title {
  margin: 0;
  text-decoration: underline;
}

.name-list__list {
  height: 100%;
  margin: 0;
  overflow-y: auto;
}

.name-list__item {
  display: inline;
  cursor: pointer;
  font-size: 18px;
  font-weight: 450;
}
