/*
 * NamePicker  ((styles))
 */
#name-picker {
  height: 100vh;
  display: block;
  overflow-y: auto;
  text-align: center;
  color: white;
}

#name-picker__logo {
  padding-top: 12vh;
}

#name-picker__title {
  font-size: calc(10px + 16vmin);
  margin: -8px 0;
}

#saved {
  padding-top: 16px;
}

#swap_btn {
  position: absolute;
  width: 115px !important;
  top: 8px;
  left: 8px;
}

#reset_btn {
  position: absolute;
  width: 115px !important;
  top: 8px;
  right: 8px;
}

#about_btn {
  position: absolute;
  width: 115px !important;
  top: 48px;
  right: 8px;
}
